
    body {
      font-family: Arial, sans-serif;
      background: linear-gradient(to bottom right, #000000, #029fad);
      margin: 0;
      padding: 0;
    }

    /* ===== HEADER ===== */
    header {
      width: 96%;
      background: rgba(255,255,255,0.18);
      backdrop-filter: blur(6px);
      padding: 14px 30px;
      position: fixed;
      top: 0;
      left: 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      box-shadow: 0 2px 6px rgba(0,0,0,0.15);
      z-index: 100;
    }

    header h1 {
      margin: 0;
      font-size: 26px;
      color: #00727a;
      cursor: pointer;
      transition: 0.2s;
    }

    header h1:hover {
      color: #00bfcf;
    }

    nav {
      display: flex;
      gap: 30px;
    }

    nav a {
      color: #00727a;
      cursor: pointer;
      font-weight: bold;
      text-decoration: none;
      font-size: 17px;
      transition: 0.2s;
    }

    nav a:hover {
      color: #00bfcf;
    }

    /* ===== CONTENT ===== */
    .container {
      max-width: 1100px;
      margin: 300px auto 40px; /* نزلنا المحتوى شوية */
      background: rgba(191, 230, 230, 0.85);
      padding: 25px;
      border-radius: 10px;
    }

    ul {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      gap: 20px;
      list-style: none;
      padding: 0;
    }

    li {
      background: #fff;
      border-radius: 8px;
      padding: 10px;
      box-shadow: 0 2px 6px rgba(0,0,0,.15);
      text-align: center;
      transition: 0.25s;
    }

    li:hover {
      transform: translateY(-4px);
    }

    img {
      width: 100%;
      height: 260px;
      object-fit: cover;
      border-radius: 6px;
      margin-bottom: 10px;
    }

    .status {
      font-size: 13px;
      margin-top: 5px;
      font-weight: bold;
    }

    .available {
      color: green;
    }

    .borrowed {
      color: red;
    }
    h2 {
      color: #00727a;
      font-weight: bold;
      text-transform: uppercase;
      font-size: 25px;
      margin: 0 0  50px ;
      text-align: center;
    }